 .u-section-1 {
  background-image: url("images/0d2478b1e95d774bbb788bf86f84f29818a2b9e86d4f7d25bebddab87637d8c5715e500bf862d115e17a5e4a43fa7f3815f02880e2126e1e1a3fab_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 54px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 403px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 9px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 9px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 9px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 9px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 9px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 9px;
}

.u-section-1 .u-text-6 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 581px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}